/* Write your code here. */
body {
  margin: 0;
}
.div1 {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mar {
  margin: 10px;
  border-radius: 5px;
  border-width: 0px;
  height: 28px;
  width: 55px;
}
.btn1 {
  background-color: #eab308;
  color: #ffffff;
}
.btn2 {
  background-color: #ffffff;
  color: #323f4b;
  width: 75px;
}
.btn3 {
  background-color: #1d4ed8;
  color: #ffffff;
}

.h1 {
  color: #ffffff;
}
